apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: practice-k8
  labels:
    app: my-app-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx-app
  template:
    metadata:
      labels:
        app: nginx-app
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          ports:
            - containerPort: 80
